.form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 20rem;

    .MuiFormControl-root {
        flex: 1;
    }
    
    .MuiButton-root {
        width: fit-content;
        align-self: flex-end;
    }
}